{% extends 'country/base.html' %}


{%block content %}
    <div class='site-desc'>
        <h1>#Маршруты</h1>
    </div>
            
        <div class="regions">
            {% for route in routers %}
            <div class='container__item-card'>
                <a href="{% url 'show_route' route.pk %}" class='link__item-card'>
                    <div class="container-desc__item-card">
                        <img class='img__item-card'
                            src="{{ route.photo.url }}"
                            alt="" />
                        <div class="overlay__item-card">
                            <h2>{{ route.title }}</h2>
                            <span>{{route.short_description}}</span>
                        </div>
                    </div>
                    <div class='container-info__item-card'>
                        <h1>Маршруты</h1>
                    </div>
                </a>
            
            </div>
            {% endfor %}
        </div>

{% endblock %}
